.container {
    background-color: black;
    width: 100%;
    position: absolute;
    height: 100vh;
}

.text-container {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    margin-top: 3em;
}

.text-container p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.0em;
    color: red;
    margin-top: 1em;
}

.firstRow {
    width: 70%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    justify-content : space-around;
    height: 35%;
    flex-wrap: wrap;
}

.pris {
    background-color: #f3ece5;
    width: 20%;
    color: black;
    text-align: center;
    border-radius: 20px; 
}

.pris h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 7.0em;
    color: red;
}

.pris p {
    font-size: 2em;
    font-weight: 700;
    display: block;
    color: #000;
    line-height: 1.1;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.pris h3 {
    font-size: 2em;
    color: #df3336;
    font-family: 'Rajdhani', sans-serif;
}

.extra {
    background-color: black;
    width: 20%;
    color: black;
    text-align: center;
    border-radius: 20px; 
}

.pris-paket {
    background-color: #f3ece5;
    width: 30%;
    height: 150%;
    color: black;
    text-align: center;
    border-radius: 20px; 
}


.pris-paket h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 7.0em;
    color: red;
}

.pris-paket p {
    font-size: 2em;
    font-weight: 800;
    display: block;
    color: #000;
    padding: 0 0 30px 0;
}

.pris-paket h3 {
    margin-top: 1em;
    font-size: 2em;
    color: #df3336;
    font-family: 'Rajdhani', sans-serif;
}

.paket-small {
    color: black;
    width: 100%;
    font-size: 3em;
    text-shadow: 1px 2px 0px hsl(0deg 0% 12% / 18%);
}

.h4-text {
    color: #545454;
    font-size: 18px;
    padding: 10px 10% 5PX 10%;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.smal-box {
    width: 50%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    color: #bdbdbd;
}

.kontakt {
    margin-top: 2em;
}


@media only screen and (max-width: 1290px){
    .container {
        background-color: black;
        width: 100%;
        position: absolute;
        height: auto;
    }    
    .container-info {
        background-color: black;
        width: 100%;
        position: absolute;
        height: 100%;
    }
    
    
}